/* Typografi */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
}

/* General styling */
/* Header */
/* Navbar */
/* Footer */



/* ================================
  MEDIA QUERIES
  ================================ */
